.example {
  margin: 1rem 0;

  h2 {
    margin-bottom: 1rem;
  }
}

#emoji {
  .bar {
    opacity: .7;

    rect {
      fill: $darkColor;
    }

    text {
      fill: black;
      text-anchor: end;
    }

    &:hover {
      opacity: 1;
    }
  }

  .emoji {
    font-size: 3rem;
  }

  .axis {
    path,
    line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
  }
}

#trends {
  .axis {
    path,
    line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
  }

  .dot {
    stroke: #000;
  }
}
