header {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 25px 0;

  h1,
  nav {
    width: 50%;
    margin: 0;
  }

  h1 {
    font-size: 2em;

    a,
    a.active {
      color: $darkColor;
      text-decoration: none;

      &:hover {
        color: $lightColor;
      }
    }
  }
}

nav {
  text-align: right;
}
