@mixin circle($size, $color) {
  width: $size;
  height: $size;
  border: 0;
  border-radius: 100%;
  background: $color;
}

.input-type {
  ul {
    display: flex;
    justify-content: space-around;
  }
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input {
  width: 20%;
}

button {
  .input-time & {
    @include circle(100px, $inputColor1);
  }

  .input-completed & {
    @include circle(100px, $inputColor2);
  }
}
