.log-type {
  ul {
    display: flex;
    justify-content: space-around;
  }
}

.logs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}

.log {
  margin: 1rem .5rem;
  text-align: center;

  label,
  button {
    font-size: 1.1rem;
  }
}

.log-text {
  display: flex;
  justify-content: space-around;

  :first-child {
    border-right: 0;
    border-radius: $borderRadius 0 0 $borderRadius;
  }

  :last-child {
    border-radius: 0 $borderRadius $borderRadius 0;
  }

  .btn {
    margin: 0;
  }
}

.log-completed button {
  width: 100px;
  height: 100px;
  border: 2px solid darken($darkColor, 20%);

  &.on {
    background: darken($darkColor, 20%);
  }
}

.log-scale {
  width: 100%;
  min-width: 300px;
  padding: 0 3rem;
}
