input {
  margin: 0;
  padding: 1rem;
  font-size: inherit;
  color: inherit;
  border: 1px solid $lightColor;
}

label {
  margin-bottom: 8px;
}

input:focus {
  border-color: transparent;
  outline: none;
  box-shadow: 0 0 0 2px blue;
}
