[data-show] > * {
  display: none;
}
[data-show='signin'] .signin,
[data-show='signup'] .signup,
[data-show='password-reset'] .password-reset,
[data-show='options'] .options,
[data-show='change-email'] .change-email,
[data-show='change-password'] .change-password,
[data-show='delete-account'] .delete-account {
  display: block;
}

[data-account-state] {
  display: none;
}
[data-account-state='signed-in'],
[data-account-state='signed-out'] {
  display: block;
}
[data-store-state='empty'] [data-hide-if='store-empty'],
[data-store-state='not-empty'] [data-hide-if='store-not-empty'] {
  display: none;
}
[data-account-state='signed-in'] [data-hide-if='signed-in'],
[data-account-state='signed-out'] [data-hide-if='signed-out'] {
  display: none;
}
[data-log-state='empty'] [data-hide-if='log-empty'],
[data-log-state='not-empty'] [data-hide-if='log-not-empty'] {
  display: none;
}
[data-log-state='empty'] [data-hide-if='log-empty'],
[data-log-state='not-empty'] [data-hide-if='log-not-empty'] {
  display: none;
}

[data-store-state='empty'] .items,
[data-store-state='not-empty'] .items,
[data-log-state='empty'] .items,
[data-log-state='not-empty'] .items,
[data-input-state='empty'] .items,
[data-input-state='not-empty'] .items {
  display: block;
}
