table {
  width: 100%;
  margin: 1rem auto;
  font-size: .8rem;
  border: $border;
}

th:first-child {
  width: 20%;
}

th,
td {
  padding: .5rem;
}

tr {
  &:hover {
    background: lighten($lightColor, 20%);
  }
}

td {
  border: 1px solid transparent;

  .placeholder & {
    text-align: center;
  }
}

td > a {
  display: block;
  margin: -1rem;
  padding: 1rem;
}
